{{ define "main" }}

<!-- <style>

#about-us-values-section {
    padding-top: 60px;
    padding-bottom: 120px;
}
.about-us-values-columns .column {
    margin: auto;
}
.about-us-values-first-column {
    padding-bottom: 30px;
}
.our-team-first-column {
    padding-bottom: 30px;
    margin: auto;
}
.doctor-info-column {
    margin: auto;
}
.doctor-memberships-no-logo {
    height: 40px;
}

.doctor-info-column {
    padding: 2rem 0 4rem 0;
}

.we-value-list {
    padding-left: 20px;
}
@media only screen and (min-width: 769px) {
    .about-us-values-body {
    padding-left: 60px;
}
.doctor-about-body {
    padding-left: 60px;
}
.our-team-body {
    padding-left: 60px;
}
        
}
@media only screen and (min-width: 1024px) {
.about-us-values-first-column {
    padding-bottom: 0px;
}

.about-us-values-columns .column {
    margin-top: 0;
    margin-left: 0;
}
.staff-photo-fix {
    padding-top: 18px;
}
}

@media only screen and (min-width: 1216px) {
.doctor-info-column {
    margin: 0;
    padding-left: 60px;
}
.about-us-values-first-column {
    padding-left: 60px;
}
.our-team-first-column {
    padding-left: 200px;
    margin: 0;
    padding-bottom: 0px;
}
        
}
     
@media only screen and (min-width: 1408px) {
.staff-photo-fix {
    padding-top: 5px;
}

    }

</style> -->

<section id="about-hero-wrapper" class="section columns inner-page-top-wrapper">
    <div class="column is-10-mobile is-offset-1-mobile is-5-widescreen inner-page-hero-box about-hero-box">
        <h1 class="is-family-heading is-size-smallerr is-line-height-reduced has-text-weight-bold about-hero-title">
            {{- .Params.Page_Title -}}
        </h1>
    </div>
</section>

<section id="about-us-values-section" class="section">
  <div class="custom-container about-us-values-container">
      <div class="columns is-multiline is-12-mobile about-us-values-columns">
        <div class="column is-10-tablet is-6-desktop about-us-values-first-column">
            <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold about-us-values-subtitle">{{- .Params.Top_Blurb_Title -}}</h2>
            <p class="box is-family-primary is-size-default about-us-values-body">{{- .Params.Top_Blurb_Paragraph -}}</p>
        </div>
        <div class="column is-12-mobile is-10-tablet is-4-desktop is-offset-2-desktop we-value-section">
            <h4 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold we-value-title">{{- .Params.Top_List_Title -}}</h4>
            <ul class="we-value-list">
                <li class="is-family-heading is-size-default we-value-item">{{- .Params.We_Value_1st -}}</li>
                <li class="is-family-heading is-size-default we-value-item">{{- .Params.We_Value_2nd -}}</li>
                <li class="is-family-heading is-size-default we-value-item">{{- .Params.We_Value_3rd -}}</li>
                <li class="is-family-heading is-size-default we-value-item">{{- .Params.We_Value_4th -}}</li>
                <li class="is-family-heading is-size-default we-value-item">{{- .Params.We_Value_5th -}}</li>
                <li class="is-family-heading is-size-default we-value-item">{{- .Params.We_Value_6th -}}</li>
            </ul>
        </div>
      </div>
  </div>
</section>

<section id="doctor-about-section" class="section">
  <div class="custom-mobile-only-container doctor-about-container">
      <div class="columns is-multiline is-12-mobile doctor-about-columns">
        <figure class="column is-12-tablet is-5-desktop has-text-centered doctor-about-image">
          <img src="{{- .Params.Les_Photo -}}" max-width="300px">
        </figure>
        <div class="column is-10-tablet is-5-desktop doctor-info-column">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold doctor-about-subtitle">Dr. Les Kicklighter</h2>
        <p class="is-family-primary is-size-default doctor-about-body">{{- .Params.Les_About_Paragraph_1 -}}</p>
        <p class="box is-family-primary is-size-default doctor-about-body">{{- .Params.Les_About_Paragraph_2 -}}</p>
        <p class="is-family-primary is-size-default doctor-about-body">{{- .Params.Les_About_Paragraph_3 -}}</p>
        <h3 class="column is-12-tablet is-family-heading is-size-default has-text-weight-bold doctor-memberships-title">Memberships</h3>
        <div class="columns is-mobile is-multiline">
        <figure class="column is-6 doctor-memberships-image">
            <img src="{{- .Params.Mem_Logo_1 -}}">
        </figure>
        <figure class="column is-6 doctor-memberships-image">
            <img src="{{- .Params.Mem_Logo_2 -}}">
        </figure>
        <figure class="column is-6 doctor-memberships-image">
            <img src="{{- .Params.Mem_Logo_3 -}}">
        </figure>
        <figure class="column is-6 doctor-memberships-image">
            <img src="{{- .Params.Mem_Logo_4 -}}">
        </figure>
        </div>
        <div class="column is-12 has-text-left-desktop">
        <h6 class="is-family-heading is-italic is-size-large has-text-weight-bold doctor-memberships-no-logo">American Academy of Dental Sleep Medicine</h6>
        </div>
        </div>
      </div>
  </div>
</section>

<section id="our-team-section" class="section">
  <div class="custom-mobile-only-container our-team-container">
      <div class="columns is-multiline is-12-mobile our-team-columns">
        <div class="column is-12-mobile is-6-tablet is-6-widescreen our-team-first-column">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold our-team-subtitle">Our Team</h2>
        <p class="box is-family-primary is-size-default our-team-body"><span class="has-text-weight-bold">{{ .Params.staff_details.staff_1.staff_name }}</span> - {{ .Params.staff_details.staff_1.staff_title }} <br> <span class="has-text-weight-bold">{{ .Params.staff_details.staff_2.staff_name }}</span> - {{ .Params.staff_details.staff_2.staff_title }} <br> <span class="has-text-weight-bold">{{ .Params.staff_details.staff_3.staff_name }}</span> - {{ .Params.staff_details.staff_3.staff_title }} <br> <span class="has-text-weight-bold">{{ .Params.staff_details.staff_4.staff_name }}</span> - {{ .Params.staff_details.staff_4.staff_title }} <br> <span class="has-text-weight-bold">{{ .Params.staff_details.staff_5.staff_name }}</span> - {{ .Params.staff_details.staff_5.staff_title }} <br> <span class="has-text-weight-bold">{{ .Params.staff_details.staff_6.staff_name }}</span> - {{ .Params.staff_details.staff_6.staff_title }}</p>
        </div>
        <figure class="column is-6-tablet is-6-widescreen has-text-centered has-text-right-desktop our-team-image">
          <img src="{{- .Params.Staff_Photo -}}" max-width="300px">
        </figure>
      </div>
  </div>
</section>

<div class="staff-photo-fix"></div>

{{ end }}