{{ define "main" }}

<style>
    .contact-form-container {
        padding: 0 20px 0 20px;
    }
    .input-column {
        margin: auto;
        padding: 0 0 1rem 0;
    }
    .form-submit-button {
        margin: auto;
    }
    .business-info-subsection {
        padding: 2rem 0 2rem 10px !important;
    }
    @media only screen and (min-width: 769px) {
        .contact-form-container {
        padding: 0 60px 0 60px;
    }
        
}
    @media only screen and (min-width: 1408px) {
        .contact-form-container {
        padding-left: 180px;
        padding-right: 180px;
        }
    }
</style>

<section id="contact-hero-wrapper" class="section columns inner-page-top-wrapper">
    <div class="column is-10-mobile is-offset-1-mobile is-5-widescreen inner-page-hero-box contact-hero-box">
        <h1 class="is-family-heading is-size-smallerr is-line-height-reduced has-text-weight-bold contact-hero-title">
            Contact Us
        </h1>
    </div>
</section>

<section id="contact-form-wrapper" class="section">
    <div class="custom-mobile-only-container contact-form-container">
        <div class="columns is-multiline is-12-mobile contact-form-columns">
            <div class="column is-12-tablet is-6-widescreen contact-form-column">
            <form class="columns is-mobile is-multiline">
                <div class="column is-11-mobile is-5-tablet input-column">
                    <label><h5 class="is-family-heading is-size-default has-text-weight-bold">Name</h5></label>
                    <input class="input is-primary is-rounded" type="text" placeholder="Your Name Here..">
                </div>
                <div class="column is-11-mobile is-5-tablet input-column">
                    <label><h5 class="is-family-heading is-size-default has-text-weight-bold">Email</h5></label>
                    <input class="input is-primary is-rounded" type="email" placeholder="Your Email Here..">
                </div>
                <div class="column is-11-mobile is-5-tablet input-column">
                    <label><h5 class="is-family-heading is-size-default has-text-weight-bold">Phone</h5></label>
                    <input class="input is-primary is-rounded" type="text" placeholder="Your Phone Number Here..">
                </div>
                <div class="column is-11-mobile is-5-tablet input-column">
                    <label><h5 class="is-family-heading is-size-default has-text-weight-bold">How can we help?</h5></label>
                    <div class="select is-primary is-rounded">
                        <select>
                        <option>General Question</option>
                        <option>Other Question</option>
                        </select>
                    </div>
                </div>
                <div class="column is-11 input-column">
                    <label><h5 class="is-family-heading is-size-default has-text-weight-bold">Your Message</h5></label>
                    <textarea class="input is-primary text-area" type="text" placeholder="Your Message Here.."></textarea>
                </div>
                <div class="column is-11 form-submit-button">
                <div class="has-text-right control">
                        <button class="button is-primary is-rounded">Send</button>
                    </div>
                </div>
            </form>
            </div>
            <div class="column is-12-tablet is-5-widescreen is-offset-1-widescreen business-info-column">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3367.426896227259!2d-81.77142281757682!3d32.4345063127115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fa474f0324c1f1%3A0x4dcfc4bc726aad16!2s512+Gentilly+Rd%2C+Statesboro%2C+GA+30458!5e0!3m2!1sen!2sus!4v1544473939060" width="100%" height="250px" frameborder="0" style="border:0" allowfullscreen></iframe>
                <div class="columns is-multiline business-info-subsection">
                    <div class="column has-text-left-desktop">
          <h5 class="is-family-heading is-size-default has-text-weight-bold contact-sgd-info-title">Location</h5>
          <p class="is-family-heading is-size-default contact-sgd-body">512 Gentilly Road <br>Statesboro, GA 30458</p>
          <a class="get-directions" target="_black" href="https://www.google.com/maps/place/512+Gentilly+Rd,+Statesboro,+GA+30458/data=!4m2!3m1!1s0x88fa474f0324c1f1:0x4dcfc4bc726aad16?ved=2ahUKEwj58tOp7J3fAhUETd8KHeDyCXYQ8gEwAHoECAAQAQ">
            <h6 class="is-family-heading is-italic is-size-default has-text-weight-bold">Get Directions</h6>
          </a>
        </div>
        <div class="column has-text-left-desktop contact-sgd-hours">
                <h5 class="is-family-heading is-size-default has-text-weight-bold contact-sgd-info-title">Hours</h5>
                <p class="is-family-heading is-size-default contact-sgd-body">Monday - Thursday <br>8:00 am - 5:00 pm</p>
                <h6 class="is-family-heading is-italic is-size-default has-text-weight-bold">*Closed daily for lunch from 1:00pm - 2:00pm</h6>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}