{{ define "main" }}

<h1 class="is-family-heading is-size-default has-text-weight-bold">This is H1</h1>
<h2 class="is-family-heading is-size-default has-text-weight-bold">This is H2</h2>
<h3 class="is-family-heading is-size-default has-text-weight-bold">This is H3</h3>
<h4 class="is-family-heading is-size-default has-text-weight-bold">This is H4</h4>
<h5 class="is-family-heading is-size-default has-text-weight-bold">This is H5</h5>
<h6 class="is-size-default has-text-weight-bold">This is H6</h6>
<p class="is-family-heading is-size-default">Hey this is a p</p>

<blockquote class="is-size-default">Hey this is a blockquote</blockquote>

<a class="button is-primary is-rounded">Button</a>

<a class="button is-primary is-rounded is-outlined">Button</a>

<a class="button is-link is-rounded">Button</a>

<a class="button is-link is-rounded is-outlined">Button</a>

<span class="icon has-text-info is-large">
    <ion-icon name="arrow-forward" size="large"></ion-icon>
</span>

<form>
<input class="input is-primary is-rounded" type="number" placeholder="Primary input">

<div class="select is-primary is-rounded">
    <select>
      <option>Rounded dropdown</option>
      <option>With options</option>
    </select>
</div>

<div class="control">
    <button class="button is-primary is-rounded">Submit</button>
</div>
</form>

<div class="hey2">
    hey2
</div>

<div class="hey3">
    hey3
</div>

<div class="hey4">
    hey4
</div>

<div class="hey5">
    hey5
</div>

{{ end }}