{{ define "main" }}

<style>
    
</style>

<section id="hero-wrapper" class="section columns">
    <div class="column is-four-fifths-mobile is-offset-1-mobile hero-box">
        <h1 class="is-family-heading is-size-smaller has-text-weight-bold hero-title">
            Simple things lead to big smiles
        </h1>
    </div>
</section>

<img src="/pageimg/curve.PNG">

<section id="why-different-section" class="section columns">
    <h2 class="is-family-heading is-size-smaller has-text-weight-bold">Why we're different</h2>
</section>

{{ end }}