{{ define "main" }}

<style>

#services-hero-wrapper {
    
}

.services-image {
  padding-top: 70px;
}

@media only screen and (min-width: 769px) {

  #services-hero-wrapper {
    
  }


  .services-hero-box {
    
}

.inner-page-hero-box {
  padding-top: 190px !important;
}
    
}

@media only screen and (min-width: 1024px) {
  #services-hero-wrapper {
 
}

    
}

@media only screen and (min-width: 1216px) {

}

@media only screen and (min-width: 1408px) {
}

</style>

<section id="contact-hero-wrapper" class="section columns inner-page-top-wrapper">
    <div class="column is-10-mobile is-offset-1-mobile is-5-widescreen inner-page-hero-box contact-hero-box">
        <h1 class="is-family-heading is-size-smaller is-line-height-reduced has-text-weight-bold contact-hero-title">
            Preventative Oral Health
        </h1>
    </div>
</section>

<section id="prophylaxis-section" class="section services-section">
  <div class="container is-fluid services-container">
      <div class="columns is-multiline is-12-mobile services-columns">
        <figure class="column is-4-tablet is-5-desktop is-6-widescreen has-text-centered services-image">
          <img src="/pageimg/preventative-care.jpg" width="300px">
        </figure>
        <div class="column is-8-tablet is-7-desktop is-4-widescreen is-offset-1-widescreen custom-mobile-only-container">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Dental cleanings (Dental Prophylaxis)</h2>
        <p class="box is-family-heading is-size-default services-body">Dental cleanings (Dental Prophylaxis) - A dental cleaning or prophylaxis is done every 6 months to clean hard and soft plaque off the surfaces of the teeth that have accumulated.  Plaque that is left on the teeth over time can cause gum disease and eventual tooth loss.  Thorough dental exams are done during this visit to detect any dental issues that need to be treated.</p>
        </div>
      </div>
  </div>
</section>

<section id="cancer-screening-section" class="section services-section">
  <div class="container is-fluid services-container-swapped">
      <div class="columns is-mobile is-multiline is-12-mobile services-columns reverse-row-order">
        <div class="column is-8-tablet is-7-desktop is-4-widescreen is-offset-1-widescreen custom-mobile-only-container">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Oral Cancer Screenings</h2>
        <p class="box is-family-heading is-size-default services-body">These screenings are done during each dental cleaning visit and during comprehensive exams of the mouth.  Oral cancer screenings serve to detect abnormal changes to tissues in the areas in and around the mouth.</p>
        </div>
        <figure class="column is-4-tablet is-5-desktop is-6-widescreen is-offset-1-widescreen has-text-centered services-image">
          <img src="/pageimg/perio-protect.jpg" width="300px">
        </figure>
      </div>
  </div>
</section>

<section id="fluoride-section" class="section services-section">
  <div class="container is-fluid services-container">
      <div class="columns is-multiline is-12-mobile services-columns">
        <figure class="column is-4-tablet is-5-desktop is-6-widescreen has-text-centered services-image">
          <img src="/pageimg/orthodonics.jpg" width="300px">
        </figure>
        <div class="column is-8-tablet is-7-desktop is-4-widescreen is-offset-1-widescreen custom-mobile-only-container">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Fluoride Treatment</h2>
        <p class="box is-family-heading is-size-default services-body">Fluoride is one of our most effective ways to prevent tooth decay and is delivered to patients based upon their age, need, and method of compliance.  Fluoride treatment can be delivered through toothpaste, fluoride varnish, prescription tablets, rinses, and even through some types of restorations.</p>
        </div>
      </div>
  </div>
</section>

<section id="xray-section" class="section services-section">
  <div class="container is-fluid services-container-swapped">
      <div class="columns is-mobile is-multiline is-12-mobile services-columns reverse-row-order">
        <div class="column is-8-tablet is-7-desktop is-4-widescreen is-offset-1-widescreen custom-mobile-only-container">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Digital x-rays</h2>
        <p class="box is-family-heading is-size-default services-body">Digital x-rays are taken at our office to accomplish a drastic reduction in radiation to patients.  Digital x-rays also allow patients to more easily visualize issues they have and to see good things about their mouths as well.</p>
        </div>
        <figure class="column is-4-tablet is-5-desktop is-6-widescreen is-offset-1-widescreen has-text-centered services-image">
          <img src="/pageimg/implants-and-restorations.jpg" width="300px">
        </figure>
      </div>
  </div>
</section>

<section id="sealants-section" class="section services-section">
  <div class="container is-fluid services-container">
      <div class="columns is-multiline is-12-mobile services-columns">
        <figure class="column is-4-tablet is-5-desktop is-6-widescreen has-text-centered services-image">
          <img src="/pageimg/mouthguards-and-tmd-therapy.jpg" width="300px">
        </figure>
        <div class="column is-8-tablet is-7-desktop is-4-widescreen is-offset-1-widescreen custom-mobile-only-container">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Sealants</h2>
        <p class="box is-family-heading is-size-default services-body">Sealants are protective plastic shields that are placed into deep grooves of back teeth.  Deep grooves in teeth have a tendency to trap debris and lead to decay.  Sealants are placed in liquid form onto the teeth and then are cured to become solid so that they can protect the back teeth from decay.</p>
        </div>
      </div>
  </div>
</section>

{{ end }}