{{ define "main" }}

<!-- <style>

</style> -->

<section id="contact-hero-wrapper" class="section columns inner-page-top-wrapper">
    <div class="column is-10-mobile is-offset-1-mobile is-5-widescreen inner-page-hero-box contact-hero-box">
        <h1 class="is-family-heading is-size-smallerr is-line-height-reduced has-text-weight-bold contact-hero-title">
            Restorative Services
        </h1>
    </div>
</section>

<section id="inner-page-cta-section">
  <a href="/contact-us#contact-form-wrapper" class="button is-family-heading is-primary inner-page-cta">Schedule an Appointment</a>
</section>

{{- .Content -}}

{{ end }}