{{ define "main" }}

<!-- <style>

@media only screen and (min-width: 1024px) {

.services-learn-more {
  margin-left: 55px;
}   
}

</style> -->

<section id="services-hero-wrapper" class="section columns inner-page-top-wrapper">
    <div class="column is-10-mobile is-offset-1-mobile is-5-widescreen inner-page-hero-box services-hero-box">
        <h1 class="is-family-heading is-size-smallerr is-line-height-reduced has-text-weight-bold services-hero-title">
            Services
        </h1>
    </div>
</section>

<section id="preventative-care-section" class="section services-section">
  <div class="container is-fluid services-container">
      <div class="columns is-multiline is-12-mobile services-columns">
        <figure class="column is-4-tablet is-5-desktop is-6-widescreen has-text-centered services-image">
          <img src="/pageimg/preventative-care.jpg" width="300px">
        </figure>
        <div class="column is-8-tablet is-7-desktop is-4-widescreen is-offset-1-widescreen custom-mobile-only-container">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Preventative Oral Health</h2>
        <p class="box is-family-heading is-size-default services-body">There’s a lot that can be done at home for preventative oral care, but regularly scheduled dental cleanings, oral cancer screenings, fluoride treatments, dental x­rays, and/or sealants can help round out a good, collaborative dental plan to keep your smile healthy, clean, and white.</p>
        <a href="/preventative-oral-health" class="button is-primary is-rounded is-family-heading services-learn-more">Learn More</a>
        </div>
      </div>
  </div>
</section>

<section id="gum-disease-section" class="section services-section">
  <div class="container is-fluid services-container-swapped">
      <div class="columns is-mobile is-multiline is-12-mobile services-columns reverse-row-order">
        <div class="column is-8-tablet is-7-desktop is-4-widescreen is-offset-1-widescreen custom-mobile-only-container">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Gum Disease Treatment</h2>
        <p class="box is-family-heading is-size-default services-body">We can help treat gum disease in patients through a variety of deep cleanings, called scaling and root planning, as well as per protect trays that help minimize the amount of time spent in an office visit.</p>
        <a href="/gum-disease-treatment" class="button is-primary is-rounded is-family-heading services-learn-more">Learn More</a>
        </div>
        <figure class="column is-4-tablet is-5-desktop is-6-widescreen is-offset-1-widescreen has-text-centered services-image">
          <img src="/pageimg/perio-protect.jpg" width="300px">
        </figure>
      </div>
  </div>
</section>

<section id="restorative-section" class="section services-section">
  <div class="container is-fluid services-container">
      <div class="columns is-multiline is-12-mobile services-columns">
        <figure class="column is-4-tablet is-5-desktop is-6-widescreen has-text-centered services-image">
          <img src="/pageimg/orthodonics.jpg" width="300px">
        </figure>
        <div class="column is-8-tablet is-7-desktop is-4-widescreen is-offset-1-widescreen custom-mobile-only-container">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Restorative Services</h2>
        <p class="box is-family-heading is-size-default services-body">In the event that you should need any restoration of one or more of your teeth, Simply Good Dentistry offers fillings, crowns and bridges, partial dental repairs, dentures, root canals, and extractions to ease any pain and as preventative care.</p>
        <a href="/restorative-services" class="button is-primary is-rounded is-family-heading services-learn-more">Learn More</a>
        </div>
      </div>
  </div>
</section>

<section id="specialty-section" class="section services-section">
  <div class="container is-fluid services-container-swapped">
      <div class="columns is-mobile is-multiline is-12-mobile services-columns reverse-row-order">
        <div class="column is-8-tablet is-7-desktop is-4-widescreen is-offset-1-widescreen custom-mobile-only-container">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Specialty Services</h2>
        <p class="box is-family-heading is-size-default services-body">We can provide and fit you with sleep apnea appliances, orthodontic treatments, TMJ treatments, and even tooth bleaching.</p>
        <a href="/specialty-services" class="button is-primary is-rounded is-family-heading services-learn-more">Learn More</a>
        </div>
        <figure class="column is-4-tablet is-5-desktop is-6-widescreen is-offset-1-widescreen has-text-centered services-image">
          <img src="/pageimg/implants-and-restorations.jpg" width="300px">
        </figure>
      </div>
  </div>
</section>

{{ end }}