{{ define "main" }}

<style>

@media only screen and (min-width: 769px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1216px) {

}

@media only screen and (min-width: 1408px) {
}

</style>

<section id="services-hero-wrapper" class="section columns">
    <div class="column is-10-mobile is-offset-1-mobile is-offset-1-tablet is-5-widescreen services-hero-box">
        <h1 class="is-family-heading is-size-smaller is-line-height-reduced has-text-weight-bold services-hero-title">
            Services
        </h1>
    </div>
</section>

<section id="preventative-care-section" class="section services-section">
  <div class="container is-fluid services-container">
      <div class="columns is-multiline is-12-mobile services-columns is-vcentered">
        <figure class="column is-4-tablet is-6-desktop has-text-centered services-image">
          <img src="/pageimg/preventative-care.jpg" width="300px">
        </figure>
        <div class="column is-8-tablet is-4-desktop is-offset-1-desktop is-offset-1-widescreen">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Preventative Care</h2>
        <p class="box is-family-heading is-size-default services-body">Portland ugh fashion axe Helvetica, YOLO Echo Park Austin gastropub roof party. Meggings cred before they sold out messenger bag, ugh fashion axe Pitchfork tousled freegan asymmetrical literally twee Thundercats. Whatever Blue Bottle Neutra irony 8-bit. Kogi ethnic ugh fashion axe bicycle rights. Gluten-free Odd Future American Apparel pour-over umami drinking vinegar Truffaut.</p>
        <p class="box is-family-heading is-size-default services-body">Selvage sustainable plaid viral salvia readymade, lomo slow-carb before they sold out bitters leggings. 90's pickled actually biodiesel put a bird on it, butcher dreamcatcher Cosby sweater.</p>
        </div>
      </div>
  </div>
</section>

<section id="perio-protect-section" class="section services-section">
  <div class="container is-fluid services-container-swapped">
      <div class="columns is-mobile is-multiline is-12-mobile services-columns is-vcentered reverse-row-order">
        <div class="column is-12-mobile is-8-tablet is-4-desktop is-offset-1-desktop is-offset-1-widescreen">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Perio Protect Therapy</h2>
        <p class="box is-family-heading is-size-default services-body">Portland ugh fashion axe Helvetica, YOLO Echo Park Austin gastropub roof party. Meggings cred before they sold out messenger bag, ugh fashion axe Pitchfork tousled freegan asymmetrical literally twee Thundercats. Whatever Blue Bottle Neutra irony 8-bit. Kogi ethnic ugh fashion axe bicycle rights. Gluten-free Odd Future American Apparel pour-over umami drinking vinegar Truffaut.</p>
        <p class="box is-family-heading is-size-default services-body">Selvage sustainable plaid viral salvia readymade, lomo slow-carb before they sold out bitters leggings. 90's pickled actually biodiesel put a bird on it, butcher dreamcatcher Cosby sweater.</p>
        </div>
        <figure class="column is-12-mobile is-4-tablet is-6-desktop is-offset-1-desktop has-text-centered services-image">
          <img src="/pageimg/perio-protect.jpg" width="300px">
        </figure>
      </div>
  </div>
</section>

<section id="orthodonics-section" class="section services-section">
  <div class="container is-fluid services-container">
      <div class="columns is-multiline is-12-mobile services-columns is-vcentered">
        <figure class="column is-4-tablet is-6-desktop has-text-centered services-image">
          <img src="/pageimg/orthodonics.jpg" width="300px">
        </figure>
        <div class="column is-8-tablet is-4-desktop is-offset-1-desktop is-offset-1-widescreen">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Orthodonics</h2>
        <p class="box is-family-heading is-size-default services-body">Portland ugh fashion axe Helvetica, YOLO Echo Park Austin gastropub roof party. Meggings cred before they sold out messenger bag, ugh fashion axe Pitchfork tousled freegan asymmetrical literally twee Thundercats. Whatever Blue Bottle Neutra irony 8-bit. Kogi ethnic ugh fashion axe bicycle rights. Gluten-free Odd Future American Apparel pour-over umami drinking vinegar Truffaut.</p>
        <p class="box is-family-heading is-size-default services-body">Selvage sustainable plaid viral salvia readymade, lomo slow-carb before they sold out bitters leggings. 90's pickled actually biodiesel put a bird on it, butcher dreamcatcher Cosby sweater.</p>
        </div>
      </div>
  </div>
</section>

<section id="implants-section" class="section services-section">
  <div class="container is-fluid services-container-swapped">
      <div class="columns is-mobile is-multiline is-12-mobile services-columns is-vcentered reverse-row-order">
        <div class="column is-12-mobile is-8-tablet is-4-desktop is-offset-1-desktop is-offset-1-widescreen">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Implants and Restorations</h2>
        <p class="box is-family-heading is-size-default services-body">Portland ugh fashion axe Helvetica, YOLO Echo Park Austin gastropub roof party. Meggings cred before they sold out messenger bag, ugh fashion axe Pitchfork tousled freegan asymmetrical literally twee Thundercats. Whatever Blue Bottle Neutra irony 8-bit. Kogi ethnic ugh fashion axe bicycle rights. Gluten-free Odd Future American Apparel pour-over umami drinking vinegar Truffaut.</p>
        <p class="box is-family-heading is-size-default services-body">Selvage sustainable plaid viral salvia readymade, lomo slow-carb before they sold out bitters leggings. 90's pickled actually biodiesel put a bird on it, butcher dreamcatcher Cosby sweater.</p>
        </div>
        <figure class="column is-12-mobile is-4-tablet is-6-desktop is-offset-1-desktop has-text-centered services-image">
          <img src="/pageimg/implants-and-restorations.jpg" width="300px">
        </figure>
      </div>
  </div>
</section>

<section id="mouthguards-section" class="section services-section">
  <div class="container is-fluid services-container">
      <div class="columns is-multiline is-12-mobile services-columns is-vcentered">
        <figure class="column is-4-tablet is-6-desktop has-text-centered services-image">
          <img src="/pageimg/mouthguards-and-tmd-therapy.jpg" width="300px">
        </figure>
        <div class="column is-8-tablet is-4-desktop is-offset-1-desktop is-offset-1-widescreen">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Mouthguards and TMD Therapy</h2>
        <p class="box is-family-heading is-size-default services-body">Portland ugh fashion axe Helvetica, YOLO Echo Park Austin gastropub roof party. Meggings cred before they sold out messenger bag, ugh fashion axe Pitchfork tousled freegan asymmetrical literally twee Thundercats. Whatever Blue Bottle Neutra irony 8-bit. Kogi ethnic ugh fashion axe bicycle rights. Gluten-free Odd Future American Apparel pour-over umami drinking vinegar Truffaut.</p>
        <p class="box is-family-heading is-size-default services-body">Selvage sustainable plaid viral salvia readymade, lomo slow-carb before they sold out bitters leggings. 90's pickled actually biodiesel put a bird on it, butcher dreamcatcher Cosby sweater.</p>
        </div>
      </div>
  </div>
</section>

<section id="bleaching-section" class="section services-section">
  <div class="container is-fluid services-container-swapped">
      <div class="columns is-mobile is-multiline is-12-mobile services-columns is-vcentered reverse-row-order">
        <div class="column is-12-mobile is-8-tablet is-4-desktop is-offset-1-desktop is-offset-1-widescreen">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold services-title">Bleaching and Whitening</h2>
        <p class="box is-family-heading is-size-default services-body">Portland ugh fashion axe Helvetica, YOLO Echo Park Austin gastropub roof party. Meggings cred before they sold out messenger bag, ugh fashion axe Pitchfork tousled freegan asymmetrical literally twee Thundercats. Whatever Blue Bottle Neutra irony 8-bit. Kogi ethnic ugh fashion axe bicycle rights. Gluten-free Odd Future American Apparel pour-over umami drinking vinegar Truffaut.</p>
        <p class="box is-family-heading is-size-default services-body">Selvage sustainable plaid viral salvia readymade, lomo slow-carb before they sold out bitters leggings. 90's pickled actually biodiesel put a bird on it, butcher dreamcatcher Cosby sweater.</p>
        </div>
        <figure class="column is-12-mobile is-4-tablet is-6-desktop is-offset-1-desktop has-text-centered services-image">
          <img src="/pageimg/bleaching-and-whitening.jpg" width="300px">
        </figure>
      </div>
  </div>
</section>

{{ end }}