{{ define "main" }}

<section id="hero-section" class="grid-x">
    <div class="cell small-10 large-5 mx-auto text-center hero-text">
        <div class="py-4 py-md-5"></div>
        <div class="py-5 py-md-5"></div>
        <span class="dark-back"><h2>Thank you - we have recieved your submission.</h2></span>
        <a href="/">
            <button class="px-3 py-1 my-3 primary-button">Return to the home page</button>
        </a>
        <div class="py-4 py-md-5"></div>
        <div class="py-3 py-md-5"></div>
    </div>
</section>

{{ end }}