{{ define "main" }}

<style>
    .section {
        padding-left: 0px;
        padding-right: 0px;
    }
    .column {
        padding: 0px;
    }
    .hero-container {
        padding-top: 3rem;
        padding-bottom: 18rem;
    }
    .hero-section-button {
        margin: 0px;
    }
    .hero-title {
        padding: 0px;
    }
    .custom-column-spacing {
        padding: .5rem 0 .5rem 0;
    }
    .custom-column-spacing-buttons {
        margin: .5rem 0 .5rem 0;
    }
    .custom-left-offset-buttons {
        margin-left: 3.75rem;
    }
</style>

<section id="hero-wrapper" class="section columns">
    <div class="custom-container hero-container">
    <div class="column is-10-mobile is-7-tablet is-offset-1-mobile is-5-widescreen hero-box">
        <h1 class="is-family-heading is-size-smaller is-line-height-reduced has-text-weight-bold custom-column-spacing hero-title">
            Simple things <br>lead to big smiles
        </h1>
        <p class="column is-family-heading is-size-default custom-column-spacing custom-left-offset hero-section-body">Kogi Cosby sweater ethical squid irony disrupt, organic tote bag gluten-free XOXO wolf typewriter mixtape small batch. DIY pickled four loko McSweeney's, Odd Future</p>
        <a class="button is-primary is-rounded custom-column-spacing-buttons custom-left-offset-buttons hero-section-button">Call for an appointment</a>
    </div>
</div>
</section>

<img src="/pageimg/curve1.PNG">

<section id="why-different-section" class="section">
  <div class="container why-different-container">
      <div class="columns is-multiline is-12-mobile why-different-columns">
        <h3 class="column is-7-tablet is-offset-5-tablet is-family-heading is-size-default has-text-weight-bold why-different-title">why we're different</h3>
        <figure class="column is-6-tablet is-6-widescreen why-different-image">
          <img src="/pageimg/why-we-are-different.jpg">
        </figure>
        <div class="column is-6-tablet is-4-widescreen is-offset-1-widescreen">
        <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold why-different-subtitle">Giving patients simply good dentistry</h2>
        <p class="box is-family-heading is-size-default why-different-body">Kogi Cosby sweater ethical squid irony disrupt, organic tote bag gluten-free XOXO wolf typewriter mixtape small batch. DIY pickled four loko McSweeney's, Odd Future</p>
        <a class="box button is-primary is-rounded why-different-button">Learn More Here</a>
        </div>
      </div>
  </div>
</section>

<section id="home-services-section" class="section">
  <div class="container home-services-container">
      <div class="columns is-multiline is-12-mobile home-services-columns">
        <h3 class="column is-12-tablet is-family-heading is-size-default has-text-weight-bold home-services-title">services</h3>
        <div class="column is-5-tablet is-offset-1-tablet is-4-desktop service-list-section">
            <ul>
                <li class="box is-family-heading is-size-default has-text-weight-bold home-services">Preventative Care</li>
                <li class="box is-family-heading is-size-default has-text-weight-bold home-services">Perio Protect Therapy</li>
                <li class="box is-family-heading is-size-default has-text-weight-bold home-services">Orthodontics</li>
                <li class="box is-family-heading is-size-default has-text-weight-bold home-services">Implants and Restorations</li>
                <li class="box is-family-heading is-size-default has-text-weight-bold home-services">Mouthguards / TMD Therapy</li>
                <li class="box is-family-heading is-size-default has-text-weight-bold home-services">Bleaching and Whitening</li>
            </ul>
        </div>
        <div class="column is-6-tablet is-6-desktop">
            <h2 class="is-family-heading is-size-default is-line-height-reduced has-text-weight-bold home-services-subtitle">Good health begins with a clean mouth.</h2>
            <p class="box is-family-heading is-size-default home-services-body">Kogi Cosby sweater ethical squid irony disrupt, organic tote bag gluten-free XOXO wolf typewriter mixtape small batch. DIY pickled four loko McSweeney's, Odd Future</p>
        </div>
      </div>
  </div>
</section>

<figure class="image contact-sgd-image-mobile">
    <img src="/pageimg/contact-sgd1.jpg">
</figure>

<section id="contact-sgd-section" class="section">
  <div class="container contact-sgd-container">
      <div class="columns is-multiline is-12-mobile has-text-right-tablet contact-sgd-columns">
        <div class="column is-offset-5-tablet is-12-tablet content-sgd-columns-content">
        <h3 class="box is-family-heading is-size-default has-text-weight-bold contact-sgd-title">contact us</h3>
        <a class="box is-family-heading is-size-default contact-sgd-body">P: 912.489.4151</a>
        <a class="box is-family-heading is-size-default contact-sgd-body">F: 912.764.8850</a>
        <a class="box is-family-heading is-size-default contact-sgd-body">info@simplygooddentistry.com</a>
        <a class="button is-primary is-rounded contact-sgd-button">Contact Us</a>
        <div class="columns is-multiline">
        <div class="column is-offset-2-desktop has-text-left-desktop">
          <h5 class="is-family-heading is-size-default has-text-weight-bold contact-sgd-info-title">Location</h5>
          <p class="is-family-heading is-size-default contact-sgd-body">512 Gentilly Road <br>Statesboro, GA 30458</p>
          <h6 class="is-family-heading is-italic is-size-default has-text-weight-bold contact-sgd-title">Get Directions</h6>
        </div>
        <div class="column has-text-left-desktop">
        <h5 class="is-family-heading is-size-default has-text-weight-bold contact-sgd-info-title">Hours</h5>
        <p class="is-family-heading is-size-default contact-sgd-body">Monday - Thursday <br>8:00 am - 5:00 pm</p>
        <h6 class="is-family-heading is-italic is-size-default has-text-weight-bold contact-sgd-title">*Closed daily for lunch from 1:00pm - 2:00pm</h6>
        </div>
        </div>
        </div>
      </div>
  </div>
</section>

{{ end }}