<style>
.footer-logo-column {
    margin: auto;
  }
.footer-services:hover {
  text-decoration: underline;
  color: #fff;
  text-decoration-color: #60BEB3;
}
.footer-links {
  padding-top: 20px;
  padding-left: 120px;
  display: none;
}

.footer-title {
  font-size: 16px !important;
}

.footer-menu-item {
  padding: .2rem 0 .2rem 0 !important;
  color: #60BEB3;
}

.footer-services-column {
  padding-top: 20px;
  display: none;
}

.footer-schedule-column {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
}

.footer-services-title {
    color: #60BEB3;
    text-decoration: none !important;
}

.footer-services {
  padding: .2rem 0 .2rem 0 !important;
  font-size: 14px !important;
  display: block;
}

.footer-schedule-title {
  padding: 0 0 .5rem 0 !important;
}

#post-footer {
  background-color: #001D34;
}

.custom-footer-container {
  padding: 0 90px 0 90px;
  max-width: 1440px;
  margin: auto;
}

@media only screen and (min-width: 1024px) {


        
    }

@media only screen and (min-width: 1216px) {
  .footer-schedule-column {
  padding-top: 20px !important;
  padding-bottom: 0px;
  margin: 0;
}
  .footer-links {
  display: block;
}
  .footer-services-column {
  display: block;
}

}
</style>

<section id="footer-section" class="section">
  <div class="custom-footer-container is-fluid footer-container">
    <div class="columns is-multiline footer-columns">
      <div class="column is-12-mobile is-8-tablet is-3-widescreen footer-logo-column">
        <figure class="box image">
          <img class="footer-logo" src="/pageimg/SGD.Horizontal.Color.Dark.svg">
        </figure>
        <p class="is-family-primary is-size-default footer-logo-body">Simply Good Dentistry is the dental practice of Les Kicklighter, DMD.</p><br>
        <p class="is-family-primary is-size-default footer-logo-body">Based in Statesboro, Georgia and located one block north of Howard Lumber Company in the Gentilly Office Complex, we are dedicated to bringing back the luster of one on one dentistry.</p><br>
        <p class="is-family-primary is-size-default footer-logo-body">© 2018 Simply Good Dentistry. All Rights Reserved.</p>
      </div>
      <div class="column is-12-mobile is-12-tablet is-3-widescreen footer-links">
        <a href="/about-us">
        <h5 class="box is-family-heading is-size-large has-text-weight-bold footer-menu-item">About Us</h5></a>
        <a href="/contact-us">
        <h5 class="box is-family-heading is-size-large has-text-weight-bold footer-menu-item">Contact Us</h5></a>
        <a href="/patients">
        <h5 class="box is-family-heading is-size-large has-text-weight-bold footer-menu-item">Patients</h5></a>
      </div>
      <div class="column is-12-mobile is-12-tablet is-3-widescreen footer-services-column">
        <h4 class="box is-family-heading is-size-default has-text-weight-bold footer-title footer-services-title">Services</h4>
        <ul>
          <a href="/services#preventative-care-section" class="is-family-heading is-size-default has-text-weight-bold footer-services">Preventative Care</a>
          <a href="/services#perio-protect-section" class="is-family-heading is-size-default has-text-weight-bold footer-services">Perio Protect Therapy</a>
          <a href="/services#orthodonics-section" class="is-family-heading is-size-default has-text-weight-bold footer-services">Orthodontics</a>
          <a href="/services#implants-section" class="is-family-heading is-size-default has-text-weight-bold footer-services">Implants and Restorations</a>
          <a href="/services#mouthguards-section" class="is-family-heading is-size-default has-text-weight-bold footer-services">Mouthguards / TMD Therapy</a>
          <a href="/services#bleaching-section" class="is-family-heading is-size-default has-text-weight-bold footer-services">Bleaching and Whitening</a>
        </ul>
      </div>
      <div class="column is-12-mobile is-8-tablet is-3-widescreen footer-schedule-column">
        <h4 class="box is-family-heading is-size-default has-text-weight-bold footer-title footer-schedule-title">Schedule an Appointment</h4>
        <p class="box is-family-primary is-size-default footer-schedule-body">Call us today to schedule an <br> appointment with Dr. Les!</p>
        <a href="/contact-us#contact-form-wrapper" class="button is-primary is-rounded footer-schedule-button">Schedule an Appointement</a>
          <div class="container column has-text-centered has-text-left-desktop social-container">
            <h6 class="is-family-heading is-size-large has-text-weight-bold footer-social-title">Follow us on:</h6>
            <div class="footer-icon-column">
                <ion-icon class="" name="logo-instagram"></ion-icon>
                <ion-icon class="" name="logo-facebook"></ion-icon>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section id="post-footer" class="section">
  <div class="custom-container">
    <div class="has-text-centered">
        <script>
            function hover(element) {
        element.setAttribute('src', '/pageimg/MadebyPioneer.Red.svg');
        }
        
        function unhover(element) {
        element.setAttribute('src', '/pageimg/MadebyPioneer.svg');
        }
        </script>
        <a target="_blank" href="http://madebypioneer.com">
        <img src="/pageimg/MadebyPioneer.svg" width="60px" onmouseover="hover(this);" onmouseout="unhover(this);">
        </a>
    </div>
  </div>
</section>

<style>
  #elevator-button {
    position: fixed;
    right: 50px;
    bottom: 20px;
    transition: .2s;
  }
  .hidegotoTop {
    right: -100px !important;
    transition: .2s;
  }
  #elevator-button:hover {
    cursor: pointer;
    padding-bottom: 5px;
  }
</style>

<div id="go-to-top-button">
  <div id="elevator-button" :class="{hidegotoTop: scrollPosition < 200, showgotoTop: scrollPosition > 500}">
      <img src="/pageimg/SGD.Web.Button.svg" width="40px">
  </div>
</div>