<style>
    
</style>

<section id="footer-section" class="section">
  <div class="container is-fluid footer-container">
    <div class="columns is-multiline footer-columns">
      <div class="column is-12-mobile is-12-tablet is-3-desktop">
        <figure class="box is-5-mobile image">
          <img class="footer-logo" src="/pageimg/SGD.Horizontal.Color.Dark.svg">
        </figure>
        <p class="box is-family-heading is-size-default footer-logo-body">Simply Good Dentistry is the dental practice of Les Kicklighter, DMD.</p>
        <p class="box is-family-heading is-size-default footer-logo-body">Based in Statesboro, Georgia and located one block north of Howard Lumber Company in the Gentilly Office Complex, we are dedicated to bringing back the luster of one on one dentistry.</p>
        <p class="box is-family-heading is-size-default footer-logo-body">© 2018 Simply Good Dentistry. All Rights Reserved.</p>
      </div>
      <div class="column is-12-mobile is-12-tablet is-3-desktop">
        <h5 class="box is-family-heading is-size-large has-text-weight-bold footer-menu-item">The Difference</h5>
        <h5 class="box is-family-heading is-size-large has-text-weight-bold footer-menu-item">About Us</h5>
        <h5 class="box is-family-heading is-size-large has-text-weight-bold footer-menu-item">Contact Us</h5>
        <h5 class="box is-family-heading is-size-large has-text-weight-bold footer-menu-item">Patients</h5>
      </div>
      <div class="column is-12-mobile is-12-tablet is-3-desktop">
        <h4 class="box is-family-heading is-size-default has-text-weight-bold footer-services-title">Services</h4>
        <ul>
          <li class="box is-family-heading is-size-default has-text-weight-bold footer-services">Preventative Care</li>
          <li class="box is-family-heading is-size-default has-text-weight-bold footer-services">Perio Protect Therapy</li>
          <li class="box is-family-heading is-size-default has-text-weight-bold footer-services">Orthodontics</li>
          <li class="box is-family-heading is-size-default has-text-weight-bold footer-services">Implants and Restorations</li>
          <li class="box is-family-heading is-size-default has-text-weight-bold footer-services">Mouthguards / TMD Therapy</li>
          <li class="box is-family-heading is-size-default has-text-weight-bold footer-services">Bleaching and Whitening</li>
        </ul>
      </div>
      <div class="column is-12-mobile is-12-tablet is-3-desktop">
        <h4 class="box is-family-heading is-size-default has-text-weight-bold footer-schedule-title">Schedule an Appointment</h4>
        <p class="box is-family-heading is-size-default footer-schedule-body">Call us today to schedule an  appointment with Dr. Les!</p>
        <a class="button is-primary is-rounded footer-schedule-button">Schedule an Appointement</a>
          <div class="container column social-container">
            <h6 class="is-family-heading is-size-large has-text-weight-bold footer-social-title">Follow us on:</h6>
            <div class="footer-icon-column">
                <ion-icon class="" name="logo-instagram"></ion-icon>
                <ion-icon class="" name="logo-facebook"></ion-icon>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>



