<style>

.desktop-menu-item:hover {
    text-decoration: underline;
    text-decoration-color: #60BEB3;
    color: #fff;
}

.inner-page .desktop-menu-item:hover {
    color: #222 !important;
}

.box:hover {
    box-shadow: none !important;
}

.box:focus {
    box-shadow: none !important;
}

.get-directions {
    color: #4a4a4a;
}

.get-directions:hover {
    color: #4a4a4a;
    text-decoration: underline;
    text-decoration-color: #60BEB3;
}

    @media only screen and (min-width: 769px) {

        
}

    @media only screen and (min-width: 1024px) {
        
        
    }

    @media only screen and (min-width: 1216px) {
        
        
    }

    @media only screen and (min-width: 1408px) {
        
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>

<div id="header-functions">

<section id="header" :class="{nonstick: scrollPosition < 100, stick: scrollPosition > 500}" class="section">
    <div class="container is-fluid header-container">
        <div class="columns is-mobile is-vcentered">
<a id="logo" class="column is-half-mobile is-one-third-tablet has-text-left" href="/">
    <img class="" src="/pageimg/SGD.Logo.Light.svg" width="49.07%">
</a>
<a id="logo-inner" class="column is-half-mobile is-one-third-tablet has-text-left" href="/">
    <img class="" src="/pageimg/SGD.Horizontal.Solid.Black.svg" width="49.07%">
</a>
{{ partial "site-navigation.html" . }}

</div>
</div>
</section>

<div class="mobile-menu section" v-bind:class="{ 'mobile-menu-toggle' : menuToggle }">
  <div class="container mobile-menu-container">
  <div class="columns is-mobile is-vcentered mobile-menu-wrapper">
  <a id="mobile-menu-logo" class="column is-half has-text-left" href="/">
    <img class="" src="/pageimg/SGD.Horizontal.Color.Dark.svg" width="45.74%">
  </a>
  <a class="column is-6 has-text-right close-menu" v-on:click="menuToggle = !menuToggle"><ion-icon name="close"></ion-icon></a>
  </div>
  <ul class="section mobile-menu-list">
    {{ $currentNode := . }}
    {{ range .Site.Menus.mobile }}
    <li class=""><a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a></li>
    {{ end }}
    <a class="button is-primary is-rounded is-small is-fullwidth mobile-menu-button">Schedule an Appointment Today!</a>
  </ul>
</div>
</div>

</div>
 
