<style>

.inner-page-cta {
    width: 100%;
    border-radius: 0;
    font-size: 18px;
    margin-top: -12px;
    max-width: 1440px;
}

.section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#inner-page-cta-section {
    text-align: center;
}

.inner-services-section {
    padding: 2rem 0 2rem 0;
}

.inner-services-section-first {
    padding: 4rem 0 2rem 0;
}

.inner-services-section-last {
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.services-dropdown {
    display: none;
    position: absolute;
    background-color: rgba(0,57,103,0.8);
    right: 180px;
    width: 250px;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
}

.services-dropdown a {
    color: #fff;
}

.services-dropdown a:hover {
    border-bottom-style: solid;
    border-color: #fff;
}

.services-dropdown:hover {
    display: block;
}

.services-menu-list-item {
    padding: 10px 0 10px 0;
}

.Services-menu-item:hover ~ .services-dropdown {
    display: block !important;
}

#header-functions {
    max-width: 1440px;
    margin: auto;
}

.desktop-menu-item:hover {
    color: #fff;
}

.desktop-menu-item-underline:hover {
    border-bottom-style: solid;
    border-color: #60BEB3;
    color: #fff;
}

.inner-page .desktop-menu-item-underline:hover {
    color: #222 !important;
}

.inner-page .desktop-menu-item:hover {
    color: #222 !important;
}

.box:hover {
    box-shadow: none !important;
}

.box:focus {
    box-shadow: none !important;
}

.get-directions {
    color: #4a4a4a;
}

.get-directions:hover {
    color: #4a4a4a;
    text-decoration: underline;
    text-decoration-color: #60BEB3;
}

.mobile-menu-list ion-icon, .desktop-menu ion-icon {
    display: none;
}

.Services-menu-item ion-icon {
    display: inline-block !important;
    vertical-align: middle;
    font-size: 30px;
}

.services-mobile {
    height: 0px;
    opacity: 0;
    z-index: -999;
    padding: 0 !important;
    transition: .2s;
    display: none;
}

.services-mobile a {
    font-size: 28px;
    margin: 0 0 .7rem 0;
}

.mobile-services-list-item {
    margin: 0 0 .7rem 0;
}

.services-mobile-toggle {
    height: 100%;
    opacity: 1;
    z-index: 2;
    padding: 10px !important;
    transition: .2s;
    display: block;
}

.thank-you-box {
    padding: 100px 0 100px 0;
    text-align: center;
    margin: auto;
}

.thank-you-text {
    padding-bottom: 20px;
}

    @media only screen and (min-width: 769px) {

        
}

    @media only screen and (min-width: 1024px) { 
        
    .Services-menu-item ion-icon {
        font-size: 18px;
    }
        
        
    }

    @media only screen and (min-width: 1216px) {
        
        
    }

    @media only screen and (min-width: 1408px) {
        
    }

    @media only screen and (min-width: 1600px) {
        
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>

<div id="header-functions">

<section id="header" :class="{nonstick: scrollPosition < 100, stick: scrollPosition > 500}" class="section">
    <div class="container is-fluid header-container">
        <div class="columns is-mobile is-vcentered">
<a id="logo" class="column is-half-mobile is-one-third-tablet has-text-left" href="/">
    <img class="" src="/pageimg/SGD.Logo.Light.svg" width="49.07%">
</a>
<a id="logo-inner" class="column is-half-mobile is-one-third-tablet has-text-left" href="/">
    <img class="" src="/pageimg/SGD.Horizontal.Solid.Black.svg" width="49.07%">
</a>
{{ partial "site-navigation.html" . }}

</div>
</div>
</section>

<div class="mobile-menu section" v-bind:class="{ 'mobile-menu-toggle' : menuToggle }">
  <div class="container mobile-menu-container">
  <div class="columns is-mobile is-vcentered mobile-menu-wrapper">
  <a id="mobile-menu-logo" class="column is-half has-text-left" href="/">
    <img class="" src="/pageimg/SGD.Horizontal.Color.Dark.svg" width="45.74%">
  </a>
  <a class="column is-6 has-text-right close-menu" v-on:click="menuToggle = !menuToggle"><ion-icon name="close"></ion-icon></a>
  </div>
  <ul class="section mobile-menu-list">
    <li class=""><a class="Services-menu-item" v-on:click="servicesmobileToggle = !servicesmobileToggle">Services<ion-icon name="arrow-dropdown"></ion-icon></a></li>
    <li class="services-mobile" v-bind:class="{ 'services-mobile-toggle' : servicesmobileToggle }">
        {{ $currentNode := . }}
        {{ range .Site.Menus.services }}
        <div class="mobile-services-list-item">
        <a class="is-family-heading has-text-weight-bold{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}"><span class="">{{ .Name }}</a></span></a><br>
        </div>
         {{ end }}
    </li>
    {{ $currentNode := . }}
    {{ range .Site.Menus.mobile }}
    <li class=""><a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} {{ .Name }}-menu-item" href="{{.URL}}">{{ .Name }}</a></li>
    {{ end }}
    <a class="button is-primary is-rounded is-small is-fullwidth mobile-menu-button">Schedule an Appointment</a>
  </ul>
</div>
</div>

</div>
 
