<nav id="navigation-wrapper" class="column is-half-mobile is-two-thirds-tablet has-text-right">

<div class="desktop-menu">
  {{ $currentNode := . }}
  {{ range .Site.Menus.desktop }}
  <a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} desktop-menu-item" href="{{.URL}}">{{ .Name }}</a>
  {{ end }}
</div>

<div id="mobile-menu" class="">
  <div class="menu-button">
    <a href="#"><button v-on:click="menuToggle = !menuToggle" class=""><ion-icon name="menu"></ion-icon></button></a>
  </div>
</div>

</nav>