{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script src="{{ absURL (printf "%s%s" "/dist/" .) }}"></script>
{{ end }}

<script>

var siteFunctions = new Vue({
    el: '#header-functions',
    data: {
      menuToggle: false,
      servicesmobileToggle: false,
      scrollPosition: null
    },
    methods: {
     updateScroll() {
       this.scrollPosition = window.scrollY
     }
   },
   methods: {
     updateScroll() {
       this.scrollPosition = window.scrollY
     }
   },
 
   mounted() {
     window.addEventListener('scroll', this.updateScroll);
   },
});

var footerFunctions = new Vue({
    el: '#go-to-top-button',
    data: {
      scrollPosition: null
    },
    methods: {
     updateScroll() {
       this.scrollPosition = window.scrollY
     }
   },
   methods: {
     updateScroll() {
       this.scrollPosition = window.scrollY
     }
   },
 
   mounted() {
     window.addEventListener('scroll', this.updateScroll);
   },
});
</script>

{{ partial "js/elevator.min.js.html" . }}

<script>
window.onload = function() {
      var elevator = new Elevator({
        element: document.querySelector('#go-to-top-button'),
        duration: 1000
      });
}
</script>